.card {    
    padding: 20px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.card-url{
    color: rgb(68, 189, 118);
}

.card-image{
    width: 300px;
}
