@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.mainStyle {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mainStyle .container {
    text-align: center;
}


.mainStyle h1 {
    font-size: 4.5em;
    color: white;
}

.mainStyle h3 {
    color: rgb(133, 133, 133);
    font-size: 1em;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 2vw;
        width: 100%;        
        overflow-x: hidden;
        overflow-y: hidden;
    }    
}