nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}