.projects-mainStyle {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23484848' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: white;
  margin: 0;
  display: grid;
  font-family: "Roboto Mono", monospace;
  height: fit-content;
  width: fit-content;
}

main {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content h1 {
  margin: 10;
}

.header-content span {
  float: left !important;
  margin-right: 40%;
  margin-left: 3%;
  border: solid white 1px;
  padding: 10px;
}



@media screen and (max-width: 600px) {
  #back-arrow-span {
    display: block;
    margin-right: 2%;
  }

  h1 {
    margin-left: 5%;
  }

  .grid {
    display: flex;
    flex-direction: column;        
  }

  .project-card{    
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    overflow-x: hidden;
  }

}