.project-card {
    padding: 20px;
    border-radius: 50px 50px 50px 50px;
    border: solid white 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.card-url {
    color: cyan;
}

.card-project-image {
    margin-bottom: 5%;
    max-width: 100%;
    max-height: 100%;
    height: 260px;

}

.card-link-div {
    height: 5%;
    float: center;
    bottom: 0;
    margin-bottom: 2%;
}

.project-description {
    display: flex;
    align-items: center;
    min-height: 150px;
    max-height: auto;
    margin-bottom: 5%;
    justify-content: center;

}

.main-project-div {
    width: 80%;
    height: 80%;
}